Analysis/.*.swp
OH/.*.swp
Transforms/.*.swp
lib/.*.swp
lib/PDG/.*.swp
lib/Debug/.*.swp
include/PDG/.*.swp
include/analysis/.*.swp
lib/analysis/.*.swp
CutVertice/.*.swp
build/
tests/

include/passes/.*.swp
lib/passes/.*.swp
